:root{
    --clr-accent-500: #0660E4;
    --clr-accent-400: #5793ed;
    
    --clr-primary-500: #1B1F25;
   
    --clr-netural-500: #232830;
    --clr-netural-400: #C3CAD5;

    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Exo 2', sans-serif;

    --fs-xxs: 0.75rem;
    --fs-xs: 0.875rem;
    --fs-sm: 1rem;
    --fs-md: 1.125rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-xxl: 1.75rem;
    --fs-xxxl: 2rem;
    --fs-xxxxl: 2.5rem;

    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;

}

.text-accent-500 {
    color: var(--clr-accent-500);
}
.text-accent-400{
    color: var(--clr-accent-400)
}
.text-primary-500{
    color: var(--clr-primary-500);
}
.text-netural-500{
    color: var(--clr-netural-500);
}
.text-netural-400{
    color: var(--clr-netural-400);
}

.bg-accent-500 {
    background-color: var(--clr-accent-500);
}
.bg-accent-400{
    background-color: var(--clr-accent-400);
}
.bg-primary-500{
    background-color: var(--clr-primary-500);
}
.bg-netural-500{
    background-color: var(--clr-netural-500);
}
.bg-netural-400{
    background-color: var(--clr-netural-400);
}

.fs-xxs{
    font-size: var(--fs-xxs);
}
.fs-xs{
    font-size: var(--fs-xs);
}
.fs-sm{
    font-size: var(--fs-sm);
}
.fs-md{
    font-size: var(--fs-md);
}
.fs-lg{
    font-size: var(--fs-lg);
}
.fs-xl{
    font-size: var(--fs-xl);
}
.fs-xxl{
    font-size: var(--fs-xxl);
}
.fs-xxxl{
    font-size: var(--fs-xxxl);
}
.fs-xxxxl{
    font-size: var(--fs-xxxxl);
}

.ff-primary{
    font-family: var(--ff-primary);
}
.ff-secondary{
    font-family: var(--ff-secondary);
}